# Dependencies
node_modules/

# Production build output
dist/

# Archive and log files
*.rar
*.zip
*.log
*.tmp
logs.txt

# Certificates (sensitive)
tools/cert.p12

# Inno Setup output
*.exe
SakugaFlow/.debug
SakugaFlow/python/__pycache__/setup.cpython-313.pyc
tools/remove_comments.py